
<div>
  <img [src]="room.img" alt="image" #imageRef>
  <p>{{ room.id }}</p>
  <p [appStyle]="'red'" fontWeight="700">{{ room.name }}</p>
  <p>{{room.description}}</p>

  <button mat-raised-button color="primary" (click)="selectHotel(room.id); isVisible = !isVisible">Primary</button>

    {{ isVisible }}
  <div *appIfnot="!isVisible">text </div>

  <ng-content></ng-content>
  <pre>
    {{text}}
  </pre>

  <mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="" [(ngModel)]="text">
<!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    <mat-hint>Hint</mat-hint>
  </mat-form-field>


  <div >{{ 3 | multy:2 }}</div>
</div>

